@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Liu+Jian+Mao+Cao&family=Madimi+One&family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Liu+Jian+Mao+Cao&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vibur&display=swap');

body{
  font-family: "Montserrat", sans-serif;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  


.menu{

  background-color:#EFBC9B;
}

.logo{
    font-family: 'Great Vibes';
 
}

.nav{
  color: black;
}

.footer {
  background-color:#EFBC9B;
  margin-top: 60px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}


.footer a {
  color: #333;
  text-decoration: none;
}

.botao{
  background-color: #efbd9bd3 !important;
  border: #EFBC9B;
  color: black;
}

.card{
  box-shadow: 10px 10px 5px -1px rgba(186, 186, 186, 0.473) !important;
}